@import "node_modules/lbh-frontend/lbh/settings/all";

// main conversation message area
.conversation-header {
  margin-bottom: 15px;
  text-align: right;

  &__caption {
    margin-top: 7px;
    color: lbh-colour("lbh-secondary-text");
  }
}

.conversation {
  margin-top: 0;
  padding: 25px;
  background: lbh-colour("lbh-grey-3");
  list-style: none;
  flex: 1;
  overflow: scroll;
  min-height: 0;

  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;

  // firefox overflow scroll fix
  // see: https://stackoverflow.com/questions/29986977/firefox-ignores-padding-when-using-overflowscroll
  &:after {
    content: "";
    padding-bottom: 25px;
    display: block;
  }

  &__message {
    padding: 10px;
    background: lbh-colour("lbh-a01");
    border-radius: 5px;
    max-width: 300px;
    position: relative;
    align-self: flex-end;
    margin-top: 20px;
    position: relative;
    padding-right: 40px;
    z-index: 2;

    * {
      margin-top: 0;
      color: lbh-colour("lbh-text-white");
    }

    .conversation__speech-bubble-root {
      position: absolute;
      bottom: -7px;
      right: 0px;
      height: 12px;
      width: 12px;
      background-size: cover;
      display: block;
      z-index: 1;
    }

    &--inbound {
      background: lbh-colour("lbh-text-white");
      align-self: flex-start;
      * {
        color: lbh-colour("lbh-text");
      }
      .conversation__speech-bubble-root {
        right: inherit;
        left: 0px;
      }
      summary svg path {
        stroke: lbh-colour("lbh-text");
      }
    }

    &:hover summary {
      opacity: 1;
    }

    &:focus-within {
      box-shadow: 0px 0px 0px 3px lbh-colour("lbh-primary-focus");

      &:before {
        filter: drop-shadow(0px 0px 0px 3px red);
      }
    }
  }

  &__details[open] svg {
    transform: rotate(180deg);
  }

  &__summary {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 10px;
    top: 8px;
    opacity: 0;
    &:focus {
      outline: none;
      opacity: 1;
    }
  }

  &__metadata {
    margin-top: 10px;
  }
}

// new message form
.message-form {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 15px;

  button {
    margin-top: 0;
  }
}

// conversation list view in left pane
.conversation-list {
  font-family: Open Sans, sans-serif;
  list-style: none;
  margin-top: 30px;
  flex: 1;
  overflow: scroll;
  min-height: 0;

  &__sub-list {
    margin-top: 10px;
  }

  &__item {
    margin-top: 5px;
  }
  &__link {
    display: block;
    padding: 15px;
    text-decoration: none;

    &--selected {
      background: lbh-colour("lbh-grey-4");
      color: lbh-colour("lbh-text") !important;
    }
  }
  &__last-message {
    display: block;
    margin-top: 5px;
    color: lbh-colour("lbh-secondary-text");
  }
}

// dialog
[data-reach-dialog-overlay] {
  z-index: 4;
}

[data-reach-dialog-content] {
  width: 70% !important;
  margin: 7vh auto !important;
}

.dialog {
  position: relative;
  max-width: 500px;
  border: 4px solid lbh-colour("lbh-text");

  &__title {
    margin-top: 0;
  }

  &__close {
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;

    svg {
      margin-top: 0;
      path {
        fill: lbh-colour("lbh-text");
      }
    }

    &:focus,
    &:active {
      outline: 3px solid lbh-colour("lbh-primary-focus");
      background: lbh-colour("lbh-primary-focus");
    }
  }
}

// overall layout
.app-layout {
  margin-top: 0;

  @media screen and (min-width: 800px) {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__inner {
    height: 100%;
    min-height: 0;
    flex: 1;
    @media screen and (min-width: 40.0625em) {
      padding-top: 2.25rem;
      padding-bottom: 1.5rem;
    }
    @media screen and (min-width: 800px) {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 35px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
  }

  &__right {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    height: 100%;
    min-height: 0;
  }
}

// sidebar nav
.new-conversation-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &:hover svg rect {
    fill: lbh-colour("lbh-link-hover");
  }
  &:active svg rect {
    fill: lbh-colour("lbh-link-active");
  }
  &:focus svg rect {
    fill: lbh-colour("lbh-text");
  }
}

.search-form {
  position: relative;

  input {
    padding-right: 40px;
  }
  button {
    margin-top: 0;
    position: absolute;
    border: none;
    background: none;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: inline-flex;
    padding: 12px;
    cursor: pointer;
    &:hover {
      svg * {
        fill: lbh-colour("lbh-secondary-text");
      }
    }
    &:focus {
      background: lbh-colour("lbh-primary-focus");
      outline: none;
    }
  }

  svg {
    margin-top: 0;
  }
}
