$lbh-global-styles: true;

@import "node_modules/lbh-frontend/lbh/all";

.lbh-error-message + .lbh-input,
.lbh-error-message + .lbh-textarea {
  margin-top: 6px;
}

button.lbh-link {
  @include lbh-body-m;
  color: lbh-colour("lbh-link");
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
}

.lbh-button--add {
  svg {
    margin-right: 10px;
  }
  svg rect {
    fill: lbh-colour("lbh-primary-button");
  }
  &:hover svg rect {
    fill: lbh-colour("lbh-secondary-button");
  }
}
