$lbh-global-styles: true;

@import "node_modules/lbh-frontend/lbh/all";

.lbh-error-message + .lbh-input {
  margin-top: 6px;
}

button.lbh-link {
  @include lbh-body-m;
  color: lbh-colour("lbh-link");
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
}
